@import url("styles.css");

#product-listing-section {
  padding: 20px 0;
}

.dsc-product-listing-image {
  width: 69px;
  height: 69px;
  display: block;
}

.dsc-product-list-btn {
  height: 20px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}
